{% extends 'base.html.twig' %}

{% block body %}
	<div class ="header-container" id="big-header-container">
		<div class="inner-container" id="header-inner">

			<div class="profile-head">
					Min profil
					<a href= {{ path("editpersonalprofile") }}>
						<button type="button" class="btn btn-default" aria-label="Left Align">
			  			<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Rediger profil"></span>
						</button>
					</a>
			</div>


			<div id="below-header">
				<div>
						<img class="center-block card-img" src="{{ asset('static/images/person/defaultprofile.png') }}" alt="Card image" style="max-width:10vw;max-height:15vw">
				</div>
				<section class="infobox">
					{% if user is defined %}
						<p>E-post: {{user.Email()}}</p>
						<p>Navn: {{user.getFullName()}} </p>
						<p>Telefon nummer: {{user.getphone()}} </p>
						<p>Du kan redigere følgende prosjekter: </p>
						{% for project in user.getProjects() %}
							<p><a href= {{ path("project", {'id': project.getId()}) }}> {{ project.getName() }}</a></p>
						{% endfor %}
						<p>Du kan redigere følgende aktører: </p>
						{% for a in user.getActors() %}
							{# This is called duct typing #}
							{% if a.getFirstName is defined %}
								{# This is a person #}
								<p><a href= {{ path("person", {'id': a.getId()}) }}> {{ a.getName() }}</p></a>
							{% else %}
								{# This is a company #}
								<p><a href= {{ path("company", {'id': a.getId()}) }}> {{ a.getName() }}</p></a>
							{% endif %}
						{% endfor %}
					{% endif %}
				</section>
			</div>
		</div>
		{# Is this a good solution?? #}
		<p>Du er registrert som <a href= {{ path("queryme") }}>følgende</a> person i aktørregisteret. </p>


		<br>Liste over <a href= {{ path("userlist") }}>registrerte brukere</a><br>

		{% if is_granted('ROLE_EDITOR') %}
			{# Import editor panel here. TODO: Bulk activate zero or more users #}
			<a href= {{ path("activate_users") }}><h3>Aktiver brukere</h3></a>
			{#{ render(controller('AppBundle:Profile:activateUsers')) }#}
			{#% include 'profile/activateusers.html.twig' %#}
			<a href= {{ path("deactivate_users") }}><h3>Deaktiver brukere</h3></a>
			{#{ render(controller('AppBundle:Profile:deactivateUsers')) }#}
			{#% include 'profile/deactivateusers.html.twig' %#}
		{% endif %}
	</div>
{% endblock %}
