<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Et knutepunkt for informasjo om overvann">
        <meta name="keywords" content="overvann, vann, avløp, informasjon">
        <title>{% block title %}Overvannssenteret!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('static/css/normalize.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('static/css/style.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            {% if app.environment == 'dev'%}
                <script src="https://npmcdn.com/react@15.3.1/dist/react-with-addons.js"></script>
                <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
            {% else %}
                <script src="https://npmcdn.com/react@15.3.1/dist/react-with-addons.min.js"></script>
                <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
            {% endif %}
            <script src="/web/static/js/jquery.js"></script>
            <script src="/web/static/js/wiki_auth.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
		{% block footer %}
            <div class="footer-container">
                <div class="inner-container" id="footer-inner">
                    <div class="footer">
                        <a href= {{ path('home') }} >Hjem</a> |
        				<a href="#">Om siden</a> | 
                        <a href="#popup4">Foto</a> | 
                        Kontakt: mail@ovase.no |
	    		    	{% if app.user%}
	        				Du er {{app.user}} |
							<a href="{{ path('logout') }}">Logg ut</a>
    		    		{% else %}
							<a href="{{ path('login') }}">Logg inn</a>
						{% endif %}
        			</div>
                </div>
            </div>
		{% endblock %}
    </body>
</html>
