<!DOCTYPE html>
<html lang="no">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Et knutepunkt for informasjo om overvann">
		<meta name="keywords" content="overvann, vann, avløp, informasjon">
		<title>{% block title %}Overvannssenteret!{% endblock %}</title>
		{% block stylesheets %}
			<link href="{{ asset('static/css/normalize.css') }}" rel="stylesheet" type="text/css">
			<link href="{{ asset('static/css/style.css') }}" rel="stylesheet" type="text/css">
			<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet">
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		{% block javascripts %}
			{% if app.environment == 'dev'%}
				<script src="https://npmcdn.com/react@15.3.1/dist/react-with-addons.js"></script>
				<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
			{% else %}
				<script src="https://npmcdn.com/react@15.3.1/dist/react-with-addons.min.js"></script>
				<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.min.js"></script>
			{% endif %}
			<script src="/web/static/js/jquery.js"></script>
			<script src="/web/static/js/wiki_auth.js"></script>
		{% endblock %}
	</head>
	<body>
			{% block header %}
				<header>
					<nav class="navbar navbar-fixed-top" role="navigation" style="background: #E5E5E5 !important;border-bottom: 1px solid #E5E5E5 !important;color: #6D6D6D !important;">
						<div class="container">
							<p style="color:#6D6D6D;font-weight:400;font-size:200%;"> OVASE </p>
								<div class="navbar-header">
							    	<button type="button" class="navbar-toggle" style="margin-top: 13px;margin-left: 60px;background-color: #E5E5E5;border: 1px solid #000000;color: #6F6F6F;font-weight: 700;">
							        	<span class="sr-only">Toggle navigation</span>
							        	<span class="icon-bar"></span>
							        	<span class="icon-bar"></span>
							        	<span class="icon-bar"></span>
							      	</button>
							    </div>
							<div class={"navbar-collapse"} id="bs-example-navbar-collapse-1">
						    	<ul class="nav navbar-nav" style={navbarButtonStyle}>
									<li>
										<a href="{{ path('home') }}" style="color:#6D6D6D;font-weight: 700;">FRAMSIDE</a>
									</li>
									<li>
										<a href="{{ path('projectlist') }}" style="color:#6D6D6D;font-weight: 700;">PROSJEKTER</a>
									</li>
									<li>
										<a href="{{ path('actorlist') }}" style="color:#6D6D6D;font-weight: 700;">AKTØRER</a>
									</li>
									<li>
										<a href="{{ path('login') }}" style="color:#6D6D6D;font-weight: 700;">FAGWIKI</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</header>
		{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}
			<div class="footer-container">
				<div class="inner-container" id="footer-inner">
					<div class="footer">
						<a href= {{ path('home') }} >Hjem</a> |
						<a href="#">Om siden</a> | 
						<a href="#popup4">Foto</a> | 
						Kontakt: mail@ovase.no |
						{% if app.user%}
							Du er {{app.user}} |
							<a href="{{ path('logout') }}">Logg ut</a>
						{% else %}
							<a href="{{ path('login') }}">Logg inn</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>
