<!DOCTYPE html>
<html lang="no">
<%- include head.ejs %>
<body>
<div id="container">
<%- include header.ejs %>
<div id="content">
    <section class="company-section">
        <h2>Bedrift</h2>
        <h3><%= company.name %></h3>
        <div class="company-box">
            <div class="company-info-box">
                <p><strong>Beskrivelse: </strong><%= company.description %></p>
                <p><strong>Hjemmeside: </strong><a href="<%= company.homepage %>" target="_blank"><%= company.homepage %></a></p>
                <p><strong>Bransje: </strong><a href="#"><%= company.industry %></a></p>
                <p><strong>Tjenester: </strong><%= company.services %></p>
                <p><strong>Prosjekter: </strong><%= company.projects %></p>
            </div>
            <div class="company-image-box">
                <img src="/images/company/<%= company.img_name %>" alt="Portrettbilde">
            </div>
        </div>
    </section>
</div>
</div>
</body>
</html>