{% extends 'base.html.twig' %}

{% block title %}
    Aktører
{% endblock %}

{% block body %}
    <a href="/person/ny">Lag person</a>
    </br>
    <a href="/company/ny">Lag selskap</a>
    </br>
    <h5>Personer</h5>

    {{ form_start(personForm) }}
    {{ form_widget(personForm) }}
    {{ form_end(personForm) }}
    </br>

    {% for person in persons %}
        <div class="col-md-6">
            <a class="fp-card" href="/person/{{ person.getId() }}">
                <div class="card card" style="background-color:#d3d3d3; display:block">
                    <div style="margin:0 2vw 0 2vw">
                        <div class="card-block">
                            <h1 class="card-title">{{ person.getFirstName() }} {{person.getLastName()}}</h1>
                        </div>

                        <!-- 

                        -->
                        <div>
                            <img class="center-block card-img" src="{{ asset('static/images/person/defaultprofile.png') }}" alt="Card image" style="max-width:10vw;max-height:15vw">
                        </div>

                        <div id="p-text" class="card-block">
                            <p class="card-subtitle">
                                    Kontaktinformasjon:
                            </p>

                            <p class="card-text">
                                    {{ person.getEmail() }}
                                    </br>
                                    {#{{ person.getPhone() }} #}
                            </p>
                        </div>
                    </div>
                </div>
                </a>
            </div>

    {% endfor %}

    <h5>Selskaper</h5>

    {{ form_start(companyForm) }}
    {{ form_widget(companyForm) }}
    {{ form_end(companyForm) }}
    </br>

    {% for company in companies %}
        <a href="/selskap/{{ company.getId() }}"> <p>{{ company.getId() }} {{ company.getName() }}</p></a>
    {% endfor %}
{% endblock %}

