{% extends 'base.html.twig' %}

{% block title %}
    Aktører
{% endblock %}

{% block body %}
    <a href="/person/ny">Lag person</a>
    <a href="/company/ny">Lag company</a>
    <br>
    <h3>Personer</h3>
    {% for person in persons %}
        <a href="/person/{{ person.getId() }}"><p>{{ person.getId() }} {{ person.getFirstName() }}</p></a>
    {% endfor %}

    <h3>Selskaper</h3>
    {% for company in companies %}
        <a href="/selskap/{{ company.getId() }}"> <p>{{ company.getId() }} {{ company.getName() }}</p></a>
    {% endfor %}
{% endblock %}

