{% extends 'base.html.twig' %}

{% block title %}
    Aktører
{% endblock %}

{% block body %}
<body onload="checkCookie()">

    <button type="button" id="btn-persons" class="btn btn-default" onclick="show('persons');">Personer</button>
    <button type="button" id="btn-companies" class="btn btn-default" onclick="show('companies');">Selskaper</button>

    <br>
    <br>

    <div id="persons">

        Lag person
        <a href="/person/ny">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </button>
        </a>
        </br>
        <br>
        <h5>Personer</h5>

        <!-- Person search -->
        {{ form_start(personForm) }}
        {{ form_widget(personForm) }}
        {{ form_end(personForm) }}
        </br>

        <!-- Person cards -->
        <div>
        {% for person in persons %}
            <div class="col-md-3">
                <a class="actor-card" href="/person/{{ person.getId() }}">
                    <div style="background-color:#d3d3d3; display:block">
                        <div style="margin:0 2vw 0 2vw">
                            <div>
                                <h1 class="card-title">{{ person.getName()}}</h1>
                                <h4 class="card-subtitle text-muted">{{person.getCompetence()}}</h4>

                            </div>
                            <div>
                                <img class="center-block card-img" src="{{ person.getImage() }}" alt="Card image" style="max-width:10vw;max-height:15vw">
                            </div>
                            <div id="p-text">
                                <p class="card-subtitle">Kontaktinformasjon:</p>

                                <p class="card-text" style="padding-bottom: 15px">
                                        Email: {{ person.getEmail() }}</br>
                                        Telefonnummer: {{ person.getTlf() }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

    <div id="companies" style="display:none">
        Lag selskap
        <a href="/company/ny">
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          </button>
        </a>
        </br>
        </br>
        <h5>Selskaper</h5>

        <!-- Company search -->
        {{ form_start(companyForm) }}
        {{ form_widget(companyForm) }}
        {{ form_end(companyForm) }}
        </br>

        <!-- Company cards -->
        {% for company in companies %}
            <div class="col-md-3">
                <a class="actor-card" href="/selskap/{{ company.getId() }}">
                    <div style="background-color:#d3d3d3; display:block">
                        <div style="margin:0 2vw 0 2vw">
                            <div>
                                <h1 class="card-title">{{ company.getName() }}</h1>
                                <h4 class="card-subtitle text-muted">Type: {{company.getType()}}</h4>
                            </div>
                            <div>
                                <img class="center-block card-img" src="{{ company.getImage() }}" alt="Card image" style="max-width:10vw;max-height:15vw">
                            </div>
                            <div id="p-text">
                                <p class="card-subtitle">Kontaktinformasjon:</p>

                                <p class="card-text" style="padding-bottom: 15px">
                                        Email: {{ company.getEmail() }} </br>
                                        Telefonnummer: {{company.getTlf()}}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <script src="{{ asset('static/js/showActor.js') }}"></script>
{% endblock %}
