{% extends 'base.html.twig' %}

{% block title %}
    Selskap
{% endblock %}

{% block body %}

    <div class="row">
        <div class="small-12   medium-6 medium-offset-3  large-6 large-offset-3 columns">
            <p></p>

            <p>{{ company.getId() }}</p>
            <p>{{ company.getName() }}</p>
            <p>{{ company.getType () }}</p>
			<iframe
			width="600"
			height="450"
			frameborder="0" style="border:0"
			src= "https://www.google.com/maps/embed/v1/search?key={{key}}&q={{ company.getLocation() }}" allowfullscreen>
            </iframe>
            <p> <b>Personer knyttet til selskapet:</b> </p>
            <ul>
                {% for person in company.getPersons() %}
                    <li><a href= "{{ path("person", {'id': person.getId()}) }}">{{person.getName}}</a></li>
                {% endfor %}
            </ul>
            <p> <b>Prosjekter knyttet til selskapet:</b> </p>
            <ul>
                {% for project in company.getProjects() %}
                    <li><a href= "{{ path("project", {'id': project.getId()}) }}">{{project.getName}}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}

