{% extends 'base.html.twig' %}

{% block title %}
    Selskap
{% endblock %}

{% block body %}
    <div class ="header-container" id="header-container-actor">
        <div class="inner-container" id="header-inner-acotr">
            <div>
                    <hActor>{{ company.getName() }}</hActor>
                    {#<a href= {{ path("editpersonalprofile") }}>
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Rediger profil"></span>
                        </button>
                    </a>#}
            </div>


            <div id="below-header-actor">
                <div>
                        <img class="center-block card-img actor-img" src="{%if company.getImage() is not empty %}{{ company.getImage() }} {% else %} {{ asset('static/images/person/defaultprofile.png') }} {% endif %}" alt="Card image">
                </div>
                <section class="infobox-actor">
                    <pActor><b>Type:</b> {{ company.getType () }}</pActor>
                    <pActor><b>E-post:</b> {{ company.getEmail() }}</pActor>
                    <pActor><b>Telefonnummer:</b> {{ company.getTlf() }}</pActor>
                    <pActor><b>Organisasjonsnummer:</b> {{ company.getOrgNr() }}</pActor>
                    <pActor><b>Kompetanse:</b> {{ company.getCompetence() }}</pActor>
                    
                    <br><br>
                    {% if company.getPersons() is not empty %}<pActor><b>Personer knyttet til selskapet:</b></pActor>
                    <ul class = "actor-ul">
                        {% for person in company.getPersons() %}
                            <li><a href= "{{ path("person", {'id': person.getId()}) }}">{{person.getName}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if company.getProjects() is not empty %}<pActor><b>Prosjekter knyttet til selskapet:</b></pActor> 
                    <ul class = "actor-ul">
                        {% for project in company.getProjects() %}
                            <li><a href= "{{ path("project", {'id': project.getId()}) }}">{{project.getName}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </section>

            </div>
        </div>
    </div>
    <pActor><b>Adresse:</b></pActor>
    <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src= "https://www.google.com/maps/embed/v1/search?key={{key}}&q={{ company.getLocation() }}" allowfullscreen>
    </iframe>
{% endblock %}

