{% extends 'base.html.twig' %}

{% block title %}
    Selskap
{% endblock %}

{% block body %}

    <div class="row">
        <div class="small-12   medium-6 medium-offset-3  large-6 large-offset-3 columns">
            <p></p>

            <p>{{ project.getId() }}</p>
            <p>{{ project.getName() }}</p>
            <p>{{ project.getType () }}</p>
			<iframe
			width="600"
			height="450"
			frameborder="0" style="border:0"
			src= "https://www.google.com/maps/embed/v1/search?key={{key}}&q={{ project.getLocation() }}" allowfullscreen>

        </div>
    </div>

{% endblock %}

