{% extends 'base.html.twig' %}

{% block title %}
    Rediger
{% endblock %}

{% block body %}
    <br>
    <h3>Anlegg</h3>

    {% for project in projects %}
        <p><a href= {{ path("edit_project", {'id': project.getId()}) }}> {{ project.getName() }}</a></p>
    {% endfor %}

    <h3>Personer</h3>

    {% for person in persons %}
        <p><a href= {{ path("edit_person", {'id': person.getId()}) }}> {{ person.getName() }}</a></p>
    {% endfor %}

    <h3>Selskaper</h3>

    {% for company in companies %}
        <p><a href= {{ path("edit_company", {'id': company.getId()}) }}> {{ company.getName() }}</a></p>
    {% endfor %}
{% endblock %}