{% extends 'base.html.twig' %}

{% block body %}
<div style="margin-top:-25px">
    <div class="col-md-6">
        <a href="http://ovase.no/wiki/index.php/Forside" class="fp-card">
            <div class="card fp-card" style="background-color:#d0b4a6">
                <div class="card-block">
                    <h1 class="card-title">FAGWIKI</h1>
                </div>

                <div class="pull-left" style="margin-left:25px;">
                    <img src="{{ asset('static/images/index/droplogo.png') }}" alt="Card image" style="max-width:200px;">
                </div>

                <div class="card-block" style="margin-left:250px">
                    <p class="card-text" style="font-size:200%">Lær mer om ulike typer tiltak og framgangsmåter for å håndtere ekstemnedbør</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="{{ path('projectlist') }}" class="fp-card">   
            <div class="card fp-card" style="background-color:#a9d1ff">
                <div class="card-block">
                    <h1 class="card-title">ANLEGG</h1>
                </div>

                <div class="pull-left" style="margin-left:25px;">
                    <img src="{{ asset('static/images/index/citylogo.png') }}" alt="Card image" style="max-width:200px;">
                </div>

                <div class="card-block" style="margin-left:250px">
                    <p class="card-text" style="font-size:200%">Bli inspirert av eksisterende norske overvannsanlegg</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="col-md-6"> 
        <a href="{{ path('actorlist') }}" class="fp-card">
            <div class="card fp-card" style="background-color:#a1d585">
                <div class="card-block">
                    <h1 class="card-title">AKTØRER</h1>
                </div>
                <div class="pull-left" style="margin-left:25px">
                    <img src="{{ asset('static/images/index/citylogo.png') }}" alt="Card image" style="max-width:200px;">
                </div>
                <div class="card-block" style="margin-left:250px">
                    <p class="card-text" style="font-size:200%">Finn bransjeaktører som jobber med overvanns-håndtering</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-6">
        <a href="{{ path('home') }}" class="fp-card">
            <div class="card style-bgc-lgrey fp-card">
                <div class="card-block">
                    <h1 class="card-title">OM OSS</h1>
                </div>

                <div class="pull-left" style="margin-left:25px">
                    <img src="{{ asset('static/images/index/citylogo.png') }}" alt="Card image" style="max-width:200px;">
                </div>

                <div class="card-block" style="margin-left:250px">
                    <p class="card-text" style="font-size:200%">Om oss..</p>
                </div>
            </div>
        </a>
    </div>


           
        <p>&nbsp;</p>
        </br>
    </div>
{% endblock %}
