{% extends 'base.html.twig' %}

{% block body %}
    <div class ="header-container" id="big-header-container">
        <div class="inner-container" id="header-inner">
            <header>
                <div id="logo-box"><img src="{{ asset('static/images/header/ovase_logo.png') }}" alt="Ovase sin logo"></div>
                <div id="title-box">
                    <h1><a href="/"><strong>O</strong>VER<strong>VA</strong>NNS<strong>SE</strong>NTERET</a></h1>
                    <h3>OVASE.NO</h3>
                </div>
                <div id="navigation-box"></div>
            </header>
            <div id="below-header">
                <section class="infobox">
                    <p>Ovase.no skal samle oppdatert informasjon om overvannsløsninger og være en felles plattform for fagmiljøer og samfunnsparter for å bidra til at vi effektivt får robust og bærekraftig overvannsinfrastruktur i Norge.</p>
                </section>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="inner-container" id="content-inner">
            <div class="card-box">
                <section class="card">
                    <div class="image-container" id="wiki">
                        <a href="/wiki/"><img src="{{ asset('static/images/index/Fagwiki_gjennomsiktig.png') }}"><a/>
                    </div>
                    <a href="/wiki/"><h3>FAGWIKI</h3></a>
                    <p><a href="/wiki/">Lær mer om ulike typer tiltak og framgangsmåter for å håndtere ekstemnedbør</a></p>
                </section>
                <section class="card-inactive">
                    <div class="image-container" id="anlegg"> 
                        <a href="#popup1"><img src="{{ asset('static/images/index/Anlegg_220x165.jpg') }}"><a/>
                    </div>
                    <a href="#popup1"><h3>ANLEGG I NORGE</h3></a>
                    <p><a href="#popup1">Bli inspirert av eksisterende norske overvannsanlegg</a></p>
                </section>
                <section class="card-inactive">
                    <div class="image-container" id="personer">
                        <a href="#popup2"><img src="{{ asset('static/images/index/Fagpersoner_220x165.jpg') }}"></a>
                    </div>
                    <a href="#popup2"><h3>AKTØRER</h3><a/>
                    <p><a href="#popup2">Finn bransjeaktører som jobber med overvanns-håndtering</p></a>
                </section>
                <section id="produkter" href="#popup1" class="card-inactive"> 
                    <div class="image-container" id="produkt"> 
                        <a href="#popup3"><img src="{{ asset('static/images/index/Produkter_220x165.jpg') }}"></a>
                    </div>
                    <a href="#popup3"><h3>PRODUKTER</h3></a>
                    <p><a href="#popup3">Finn egnede produkter til dine overvannstiltak</a></p>
                </section>
            </div>
        </div>
        <div class="inner-container" id="buffer-container">
        </div>
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>ANLEGG I NORGE</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Her kommer OVASEs prosjektdatabase, hvor du kan lære av erfaringer fra eksisterende overvannsanlegg i Norge.
            </div>
        </div>
    </div>
    <div id="popup2" class="overlay">
        <div class="popup">
            <h2>BEDRIFTER/PERSONER</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Her kommer OVASEs kontaktsider, hvor du kan finne organisasjoner, bedrifter og personer med bakgrunn fra ulike fagmiljøer.
            </div>
        </div>
    </div>
    <div id="popup3" class="overlay">
        <div class="popup">
            <h2>PRODUKTER</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Her kommer OVASEs produktsider, hvor du kan få oversikt over produkter som benyttes til overvannshåndtering.
            </div>
        </div>
    </div>
    <div id="popup4" class="overlay"> 
        <div class="popup">
            <h2>FOTO/ILLUSTRASJONER</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Fagwiki: GEODATA <br>
                Anlegg: Bent Braskerud <br>
                Personer/bedrifter: Adresseavisen <br>
                Produkter: Wikimedia commons          
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="inner-container" id="footer-inner">
            <div class="footer">
                <a href="#">Om siden</a> | 
                <a href="#popup4">Foto</a> | 
                <a href="#">Kontakt: mail@ovase.no</a>
            </div>
        </div>
    </div>
{% endblock %}
