{% extends 'base.html.twig' %}

{% block title %}
    Anlegg
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p></p>

    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}

    {% for project in projects %}
        {#<p><a href= {{ path("project", {'id': project.getId()}) }}> {{ project.getName() }}</a></p>#}
        <p {{ project.name }}</p>
    {% endfor %}

{% endblock %}


