{% extends 'base.html.twig' %}

{% block title %}
	Anlegg
{% endblock %}

{% block body %}
	<body onload="initCreateProjectPage()">

	<button type="button" onclick="show(1);">Steg 1</button>
	<button type="button" onclick="show(2);">Steg 2</button>
	<button type="button" onclick="show(3);">Steg 3</button>
	<button type="button" onclick="show(4);">Steg 4</button>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<script src="{{ asset('static/js/showFieldsInProject.js') }}"></script>
	<script src="{{ asset('static/js/datepicker-no.js') }}"></script>


{% endblock %}


