{% extends 'base.html.twig' %}

{% block title %}
	Anlegg
{% endblock %}

{% block body %}

	<div class="row">
		<div class="small-12   medium-6 medium-offset-3  large-6 large-offset-3 columns">
			<p></p>

			{% if message is defined %}
				<p>{{ message }}</p>
			{% endif %}

			<p>{{ project.getName() }}</p>
			<p>{{ project.getField () }}</p>
			{#<p>{{ project.getStartdate() }}</p>#}
			{#<p>{{ project.getEnddate() }}</p>#}
			{#<p>{{ project.getTechnicalSolutions() }}</p>#}
			<p>{{ project.getDescription() }}</p>
			<p>{{ project.getLocation() }}</p>
			<iframe
			width="600"
			height="450"
			frameborder="0" style="border:0"
			src= "https://www.google.com/maps/embed/v1/search?key={{key}}&q={{ project.getLocation() }}" allowfullscreen>
			{# For options on usage of the Embed API, see https://developers.google.com/maps/documentation/embed/guide #}
			</iframe>
		</div>
	</div>

{% endblock %}


