{% extends 'base.html.twig' %}

{% block title %}
	Anlegg
{% endblock %}

{% block body %}
		<div class="row" style="margin-left:10vw">

				<!--
				<div class="input-group">
					<input type="text" class="form-control style-bgc-lgrey" style="width:250px;" placeholder="Søk...">
					<span class="input-group-btn">
						<button class="btn btn-default btn-sb-custom glyphicon glyphicon-search" type="button"></button>
					</span>
				</div>
			-->

				{{ form_start(form) }}
			 	{{ form_widget(form) }}
				{{ form_end(form) }}

				<a href="/anlegg/ny">Lag nytt prosjekt</a>

		</div>


		{% for project in projects %}

			<div class="col-md-6">

				<div class="card card" style="background-color:#d3d3d3; display:block">
						<div class="card-block">
							<h1 class="card-title">{{ project.getName() }}</h1>
							<h2 class="card-subtitle text-muted">Sted: {{project.getLocation()}}</h2>
						</div>


						<div>
								<img src="{{ asset('static/images/header/San_Joaquin_River_headwaters.jpg') }}" alt="Card image" style="max-width:100%;">
						</div>

						<div id="p-text" class="card-block">
								<p style="font-size:200%; color:black">
									Beskrivelse:
								</p>

								<p class="card-text">
									{{ project.getDescription() }}
								</p>

						</div>

						<div class="card-block">
							<p style="font-size:200%; color:black;">Tekniske løsninger:</p>
							<p class="card-text">
							{% for p in project.getTechnicalSolutions() %}
								{{ p }}
							{% endfor %}
							</p>
						</div>

						<div class="card-block">
							<a href="{{ path('project', {'id': project.getId()}) }}" class="card-link">Se mer</a>
						</div>

				</div>

			</div>
		{% endfor %}





	{% if message is defined %}
		<p>{{ message }}</p>
	{% endif %}



{% endblock %}
