{% extends 'base.html.twig' %}

{% block title %}
	Anlegg
{% endblock %}

{% block body %}
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-left:10vw;margin-right:10vw;min-height:25vw;max-height:25vw;">
	  <!-- Indicators -->

		<ol class="carousel-indicators">
		{% for key in project.getImages()|keys %}
			<li data-target="#carousel-example-generic" data-slide-to="{{ key }}"
			{%if key == 0 %} class="active" {%endif%} >
			</li>
		{% endfor %}
		</ol>


	  <!-- Wrapper for slides -->
		<div class="carousel-inner">
			{% for key,image in project.getImages() %}
			<div class="item {%if key == 0%} active {%endif%}">
				<img class="img-responsive center-block" src="{{image}}" alt="..." style="margin: auto;max-height:25vw">
			</div>
			{% endfor %}
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- Carousel -->

	<div class="row">
		<div class="small-12   medium-6 medium-offset-3  large-6 large-offset-3 columns">
			<a style="margin-left:5vw;" href= "/anlegg/rediger/{{ project.getId() }}">{{"Rediger prosjekt"}}</a>
			<p></p>

			{% if message is defined %}
				<p>{{ message }}</p>
			{% endif %}

			{% if canEdit %}
				<a href="{{  path('edit_project', {'id': project.getId()}) }}">{{"Rediger prosjekt"}}</a>
                <a href="{{ path("create_measure_in_project", {'project_id': project.getId()}) }}">Legg til tiltak</a>
            {% endif %}
			{% for measure in project.getMeasures() %}
				<p2>{{ measure.getTitle() }}</p2>
				<p2>{{ measure.getTotalArea() }}</p2>
				<p2>{{ measure.getCosts() }}</p2>
				{% if canEdit %}
                    <a href="{{ path("edit_measure", {'measure_id': measure.getId(), 'project_id': project.getId()}) }}">Endre tiltak</a>
                    <a href="{{ path("delete_measure", {'measure_id': measure.getId(), 'project_id': project.getId()}) }}">Slett tiltak</a>
            	{% endif %}
            {% endfor %}

			<h1>Prosjektnavn: {{ project.getName() }}</h1>

			<h2>Fakta</h2>


			<p2>Prosjekt startdato: {{ project.getStartdate() }}</p2>
			<p2>Prosjekt sluttdato: {{ project.getEnddate() }}</p2>

			<br>

			<p2>Adresse: {{project.getLocation}} </p2>

			<br>

			<p2> Medvirkende: project.getActors </p2>

			<br>

			<p2> Område-type: {{project.getAreaType}} </p2>
			<p2> Prosjekt-type: {{project.getProjectType}} </p2>

			<br>

			<p2> Totale kostnader for hele byggeprosjektet: {{project.getCost}} NOK </p2>
			<br>
			<p2> Totalt areal for prosjektområde: {{project.getTotalArea}} m² </p2>
			<p2> Totalt areal for nedbørsfelt til overvannstiltakene: project.getWaterArea</p2>
			<br>
			<p2> Grunnforhold: {{project.getSoilConditions}} </p2>
			<br>
			<p2> Dimensjonerende krav til overvannshåndtering: </p2>

			<br>
			<br>

			<h2>Bakgrunn</h2>

			<p2> {{project.getDescription}} </p2>

			<br>
			<br>

			<h2>Oppsummering</h2>

			<p2> project.getSummary </p2>

			<br>
			<br>


			<h1>Anlagte tiltak</h1>

			<h2>Regnbed</h2>
			<h3>Fakta</h3>
			<h3>Geometrisk utforming</h3>

			<h3>Konstruksjonsdetaljer og anleggelse</h3>
			<h3>Drift, vedlikehold og oppfølging</h3>
			<h3>Erfaringer og tips</h3>

			{#...Flere tiltak, alle skal ha samme deloverskrivfter i h3 #}

			<h1>Andre tiltak</h1>
			<h2>Brukerinvolvering</h2>
			<h3>Beskrivelse av tiltaket</h3>
			<h3>Erfaringer og tips</h3>

			<h1>Samarbeid</h1>
			<h3>Beskrivelse av tiltaket</h3>
			<h3>Erfaringer og tips</h3>

			<h1>Planprosess</h1>
			<h3>Beskrivelse av tiltaket</h3>
			<h3>Erfaringer og tips</h3>

			<h1>Kunnskapsinnhenting</h1>
			<h3>Beskrivelse av tiltaket</h3>
			<h3>Erfaringer og tips</h3>

			<h1>Oppfølging og kommentarer</h1>
			<p2>"Dato, navn og bilde av aktør + Kommentar"</p2>
			<h3>Redigeringsinformasjon</h3>
			<p2>Prosjektbeskrivelsen ble først publisert (dato) </p2>
			<p2>Prosjektbeskrivelsen ble sist endra (dato) av (navn på aktør)</p2>





			{#<p2>Felt: {{ project.getField () }}</p2>#}

			{#<p2>Start dato: {{ project.getStartdate() }}</p2>#}
			{#<p2>Slutt dato: {{ project.getEnddate() }}</p2>#}
			{#<p2>{{ project.getTechnicalSolutions() }}</p2>#}

			{#<p2>{{ project.getDescription() }}</p2>#}

			</br>
			</br>

			<p2>Lokasjon: {{ project.getLocation() }}</p2>

			</br>

			<p2>{{ project.getName() }}</p2>
			<p2>{{ project.getField () }}</p2>
			<p2>{{ project.getDescription() }}</p2>
			<p2>{{ project.getLocation() }}</p2>

			<div class="divMargins">
			<iframe
			width="600"
			height="450"
			frameborder="0" style="border:0"
			src= "https://www.google.com/maps/embed/v1/search?key={{key}}&q={{ project.getLocation() }}" allowfullscreen>
			{# For options on usage of the Embed API, see https://developers.google.com/maps/documentation/embed/guide #}
			</iframe>
			</div>
			<p2> <b>Bidragsytere</b> </p2>
			<div class="divMargins">
			<ul>
				{% for actor in project.getActors() %}
					{% if actor.getClassName == "Company"%}
						<li> Selskap: <a href= "/selskap/{{ actor.getId() }}">{{actor.getName}}</a></li>
					{% else %}
						<li> Person: <a href= "/person/{{ actor.getId() }}">{{actor.getName}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
			</div>
			<p2> <b>Lenker</b> </p2>
			<div class="divMargins">
			<ul>
				{% for s in project.getTechnicalSolutions() %}
					<li> <a href= "http://ovase.no/wiki/index.php/{{s}}">{{ s }}</a></li>
				{% endfor %}
				{% for url in project.getImages() %}
					<p>{{ url }}</p>
				{% endfor %}
			</ul>
			</div>
		</div>
	</div>

{% endblock %}
