{% extends 'base.html.twig' %}

{% block title %}
	Anlegg
{% endblock %}

{% block body %}
			<!--
				<div class="input-group">
					<input type="text" class="form-control style-bgc-lgrey" style="width:250px;" placeholder="Søk...">
					<span class="input-group-btn">
						<button class="btn btn-default btn-sb-custom glyphicon glyphicon-search" type="button"></button>
					</span>
				</div>
			-->

		<!--Search form -->
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		</br>
		</br>
		<button style="margin-left:1vw"><a class="fp-card" href="/anlegg/ny">Lag nytt prosjekt</a></button>
		</br>
		</br>


		{% for project in projects %}

			<div class="col-md-6">

				<div class="card card" style="background-color:#d3d3d3; display:block">
					<div style="margin:0 2vw 0 2vw">
						<div class="card-block">
							<h1 class="card-title">{{ project.getName() }}</h1>
							<h4 class="card-subtitle text-muted">Sted: {{project.getLocation()}}</h4>
						</div>


						<div>
								<img class="center-block card-img" src="{{ asset('static/images/header/San_Joaquin_River_headwaters.jpg') }}" alt="Card image">
						</div>

						<div id="p-text" class="card-block">
								<p class="card-subtitle">
									Beskrivelse:
								</p>

								<p class="card-text">
									{{ project.getDescription() }}
								</p>

						</div>

						<div class="card-block">
							<p class="card-subtitle">Tekniske løsninger:</p>
							<p class="card-text">
							{% for p in project.getTechnicalSolutions() %}
								{{ p }}
							{% endfor %}
							</p>
						</div>

						<div class="card-block">
							<a href="{{ path('project', {'id': project.getId()}) }}" class="card-link">Se mer</a>
						</div>
					</div>
				</div>

			</div>
		{% endfor %}





	<br>
	{% if message is defined %}
		<p>{{ message }}</p>
	{% endif %}

{% endblock %}
