{% extends 'base.html.twig' %}

{% block title %}
	Anlegg
{% endblock %}

{% block body %}

	<a href="/anlegg/ny">Lag nytt prosjekt</a>

	<p></p>

	{{ form_start(form) }}
 	{{ form_widget(form) }}
	{{ form_end(form) }}

	<p></p>

	<br>
	{% if message is defined %}
		<p>{{ message }}</p>
	{% endif %}

	<h3>Prosjekter</h3>
	{% for project in projects %}
		<p><a href= {{ path("project", {'id': project.getId()}) }}> {{ project.getName() }}</a></p>
	{% endfor %}

{% endblock %}


